<section id="planes" class="section bg-white">
  <div class="container-md text-center">
    <h2 class="text-3xl font-bold text-[#2A3E63] mb-10">
      ¿Qué planes y servicios tenemos disponibles en UCM?
    </h2>

    <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-10">
      <!-- PLAN FULL RESCUE -->
      <div class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition">
        <img
          src="/images/plan-familiar.jpg"
          alt="Plan Full Rescue UCM"
          class="w-full h-56 object-cover"
        />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-[#D62828] mb-2">Plan Full Rescue</h3>
          <p class="text-gray-700 leading-relaxed mb-3">
            Rescate de Emergencia Médica con Riesgo Vital y Urgencias Médicas,
            <strong>de 0 años hasta 100 años y más.</strong>
          </p>
        </div>
      </div>

      <!-- PLAN SENIOR -->
      <div class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition">
        <img src="/images/plan-senior.jpg" alt="Plan Senior UCM" class="w-full h-56 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-[#D62828] mb-2">Plan Senior</h3>
          <p class="text-gray-700 leading-relaxed mb-3">
            Protección para adultos mayores 1.0 UF desde los 75 años
          </p>
        </div>
      </div>

      <!-- TRASLADO PACIENTES -->
      <div class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition">
        <img
          src="/images/traslado.jpg"
          alt="Traslado Pacientes UCM"
          class="w-full h-56 object-cover"
        />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-[#D62828] mb-2">Traslado Pacientes</h3>
          <p class="text-gray-700 leading-relaxed mb-3">
            Traslado programado, para socios, con atención especializada. Desde traslado básico
            hasta crítico.
          </p>
        </div>
      </div>

      <!-- SERVICIO DOMICILIO -->
      <div class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition">
        <img
          src="/images/servicio-domicilio.webp"
          alt="Servicio Domicilio UCM"
          class="w-full h-56 object-cover"
        />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-[#D62828] mb-2">Servicio Domicilio</h3>
          <p class="text-gray-700 leading-relaxed mb-3">
            Amplia gama de <strong>Servicios de Salud a Domicilio</strong> con cobertura nacional.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
